.container {
    padding: 1rem;
    margin: 0;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    /* position: absolute; */
    overflow-y: auto;
    border-right: 2px solid grey;
    background-color: rgb(17, 17, 29);
    color: white;

    font-size: 1rem;
    font-family:"Segoe UI",Arial,sans-serif;
}

.container ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container ul li {
    width: 100%;
}

.container .menu-icon {
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 5px;
    cursor: pointer;
}

.collapsed {
    display: block;
}

.selection {
    display: none;
}

.hide-menu {
    display: none;
}

.container .section button {
    font-weight: 600;
    padding: 0.4rem 0.3rem;
    margin: 0.2rem 0 0.7rem 0;
    border-radius: 10px;
    display: flex;
    gap: 0.7rem;
    /* border-bottom: 1px solid rgb(70, 70, 70); */
    cursor: pointer;
    width: 100%;
    outline: none;
    border: none;
    background: none;
    color: white;
    font: inherit;
}

.container .section button:hover {
    /* color: rgb(70, 70, 70);
    background-color: white; */
    /* background-color: white;
    color: black; */
	border: none;
	outline: inherit;
}

.container .section button.selected {
    background-color: white;
    color: black;
}

.container .search {
    width: 100%;
    background-color: rgb(65, 65, 65);
    padding: 0.4rem 0.3rem;
    margin: 0.7rem 0;
    border-radius: 10px;
    display: flex;
    gap: 0.7rem;
    /* border-bottom: 1px solid rgb(70, 70, 70); */
}

.container .search div {
    /* max-width: 100%; */
    margin: 0;
    padding: 0;
    width: 100%;
}

.search input {
    width: 100%;
    outline: none;
    border: none;
    background-color: inherit;
    color: inherit;
    font-size: inherit;
    font-size: small;}

.container .search .icon {
    display: inline-block;
}

.container .topics p {
    padding: 0.3rem 0.3rem 0.3rem 1rem;
    margin: 0;
    color: grey;
    border-bottom: 1px solid grey;
    font-size: 90%;
    cursor: pointer;
}

.container .topics p.highlight-topic {
    color: white;
    /* font-weight: bolder; */
}

@media only screen and (max-width:600px) {
    /* phones */

    .container {
        /* height: 100vh; */
        height: fit-content;
        width: 100vw;
    }

    .collapsed {
        display: none;
    }

    .selection {
        display: inline;
        cursor: pointer;
    }
}